<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Jog Times - Start Following</title>

    <!-- Tailwind.css is a CSS library. Read the docs here: -->
    <!-- https://tailwindcss.com/docs/what-is-tailwind -->
    <link rel="stylesheet" href="/tailwind.css" />
</head>
<body class="bg-grey-lightest">
<header class="fixed pin-x pin-t bg-purple shadow text-white">
    <div
            class="mx-auto h-16 p-4 flex items-center justify-between"
            style="width: 800px"
    >
        <h2><a href="/times" class="text-white no-underline">Jog Times</a></h2>
        <div>
            Signed in as {{ user.name }} ({{ user.email }})
            <a
                    href="/sign-out"
                    class="text-white border border-white rounded p-2 no-underline hover:bg-purple-light ml-4"
            >
                Sign Out
            </a>
            <a
                    href="/delete-account"
                    class="text-red-darker border border-red-darker rounded p-2 no-underline hover:bg-purple-light ml-4"
            >
                Delete Account

            </a>
        </div>
    </div>
</header>

<main class="h-screen flex flex-col items-center justify-center" style="margin-top: 10px; margin-bottom: 50px;">
  <!-- top-->
    <section
            class="flex items-center"
    >
        {{#each follower}}
            <div
                    class="m-4 p-6 rounded-lg bg-white flex-1 shadow flex flex-col-reverse"
            >
                <h3 class="uppercase text-sm text-indigo-light font-semibold"
                    style="height: 4rem"
                >
                    Following You
                </h3>
                <div class="text-5xl text-indigo font-semibold">
                    {{ name }}
                </div>
            </div>
        {{/each}}
    </section>

    <section
            class="flex flex-wrap border border-grey-light border-l-0 border-r-0 border-b-0 mt-6 pt-6"
    >
        <form
                class="m-4 shadow-lg rounded-lg overflow-hidden w-64"
                method="POST"
                action="/start-following/new"
                style="/*height: 35rem;*/"
        >
            <h1 class="text-2xl bg-grey-lighter p-4">Follow User</h1>

            <label class="m-4 block">
                User
                <input
                        class="block rounded bg-grey-lighter p-2 mt-2 w-full"
                        type="name"
                        name="user"
                        required
                />
            </label>

            <button
                    type="submit"
                    class="block w-auto rounded bg-purple text-white p-2 m-4 ml-auto"
            >
                Follow user →
            </button>
        </form>
        {{#each following}}


        <div
                class="m-4 p-6 rounded-lg bg-white flex-1 shadow flex flex-col-reverse"
        >
            <h3
                    class="uppercase text-sm text-indigo-light font-semibold"
                    style="height: 4rem"
            >
                Currently Following
            </h3>
            <div class="text-5xl text-indigo font-semibold">
                {{ name }}
            </div>

        </div>
        {{/each}}
    </section>
</main>
</body>
</html>
